@media (max-width: 991px){
    .films .films__block{
        grid-template-columns: 1fr 1fr;
    }
    .collections .block{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 585px){
    header .menu nav{
        flex-direction: column;
        padding-top: 15px;
    }
    header .menu nav ul a{
        padding: 20px 10px;
    }
    header .poster{
        padding: 10px 0px;
    }
    header .poster p{
        font-size: 12px;
        margin-left: 5px;
    }
    header  .text{
        padding: 50px;
    }
    header .text h1{
        font-size: 40px;
    }
    header .text .btn{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    header .text .btn a{
        width: 100%;
        margin-bottom: 12px;
    }
    .films .films__block{
        grid-template-columns: 1fr;
    }
    .fon-img a{
        width: 100% !important;
    }
    .series{
    background: #02153a;
}
.series .series__start{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px;
}
.series .series__start img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s;
}
.series .series__start:hover img{
    transform: scale(1.5);
}
.series .series__start .content-text{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4a0f988a, #eb7e288a);
    color: #fff;
    flex-direction: column;
}
.series .series__start .content-text h3{
    font-size: 25px;
    font-family: var(--i);
    color: #fff;
}
.series .series__start .content-text p{
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.series .series__start .content-text a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-top: 5px;
    padding: 15px 20px 15px 20px;
    background: #000000;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    font-family: var(--a);
    transition: 0.5s;
}
.series .series__start .content-text a:hover{
    background: #ffffff;
    color: #000;
    box-shadow: 0 0 15px 10px #fff;
}

/* ****************************************************************************** */

.series-content1{
    grid-area: block1;
}
.series-content2{
    grid-area: block2;
}
.series-content3{
    grid-area: block3;
}
.series-content4{
    grid-area: block4;
}
.series-content5{
    grid-area: block5;
}
.series .series__end{
    display: grid;
    grid-template-areas: 
    "block1 block1"
    "block2 block3"
    "block4 block5"
    ;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.series .series__end .content__all{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.series .series__end .content__all img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s;
}
.series .series__end .content__all:hover img{
    transform: scale(1.5);
}
.series .series__end .content__all .text-element{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4a0f988a, #eb7e288a);
}
.series .series__end .content__all .text-element i{
    font-size: 30px;
    color: #fff;    
}
.series .series__end .content__all .text-element:hover a i{
    color: #212121;
}
.series .series__end .content__all .text-element h4{
    font-size: 18px;
    padding-top: 20px;
    color: #fff;
}
footer{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #f28428, #8f4a01);
}
}